/* shared styles */
body{
    font-family: Mulish;
}
span{
    color: #FF5400;
}
#button-for-all{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
#section-title-name{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* header styles */
.nav-style{
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
}
.nav-section{
    display: flex;
    gap: 20px;
}
.nav-section-img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    /* align-items: center; */
}
.nav-section-title{
    align-items: start;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-bar-section ul{
    display: flex;
}
ul{
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
ul > li{
    list-style: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
ul a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* styles the heading part */
.heading-part{
    width: 1635px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    margin: auto 135px;
    background-repeat: no-repeat;
    text-align: center;
}
.heading-work{
    text-align: center;
}
.heading-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.heading-description{
    width: 676px;
    padding: 25px 250px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: inline-block;
}
.search{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.heading-form{
    display: inline-flex;
    margin-bottom: 100px;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.heading-form input[type="text"]{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
input::placeholder{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 15px 84px 15px 15px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* style the main part */
.tours-section{
    display: flex;
    padding: 100px 135px;
    justify-content: space-between;
}
.tours-main-section{
    margin-right: 70px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.tours-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tours-ul {
    display: grid;
    grid-template-columns: 1fr; /* adjust the number of columns as needed */
}

.tours-ul li {
    margin: 8px 0;
    text-align: left;
    position: relative;
    padding-left: 20px; /* Adjust the space between the bullet and the content */
}

.tours-ul li::before {
    content: '\2022'; /* Unicode character for a bullet point */
    position: absolute;
    left: 0;
}

.section-title{
    color: #131318;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}
/* destination section */
.destination-title{
    text-align: center;
}







/* for mobile responsive */
@media screen and (max-width:600px){
    /* .nav-style{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .nav-section{
        grid-template-rows: repeat(1, 1fr);
    }
    .nav-section-title{
        display: inline-block;
    } */
}