/* shared styles */
body{
    font-family: Mulish;
}
span{
    color: #FF5400;
}
#button-for-all{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
#section-title-name{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* header styles */
.nav-style{
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
}
.nav-section{
    display: flex;
    gap: 20px;
}
.nav-section-img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    /* align-items: center; */
}
.nav-section-title{
    align-items: start;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-bar-section ul{
    display: flex;
}
ul{
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
ul > li{
    list-style: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}
ul a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* styles the heading part */
.heading-part{
    width: 1635px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    margin: auto 135px;
    background-repeat: no-repeat;
    text-align: center;
}
.heading-work{
    text-align: center;
}
.heading-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.heading-description{
    width: 676px;
    padding: 25px 250px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: inline-block;
}
.search{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.heading-form{
    display: inline-flex;
    margin-bottom: 100px;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.heading-form input[type="text"]{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
input::placeholder{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 15px 84px 15px 15px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* style the main part */
.tours-section{
    display: flex;
    padding: 100px 135px;
    justify-content: space-between;
}
.tours-main-section{
    margin-right: 70px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.tours-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tours-ul {
    display: grid;
    grid-template-columns: 1fr; /* adjust the number of columns as needed */
}

.tours-ul li {
    margin: 8px 0;
    text-align: left;
    position: relative;
    padding-left: 20px; /* Adjust the space between the bullet and the content */
}

.tours-ul li::before {
    content: '\2022'; /* Unicode character for a bullet point */
    position: absolute;
    left: 0;
}

.section-title{
    color: #131318;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
}
/* destination section */
.destination-title{
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-title-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination-description{
    width: 676px;
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.maldives{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}
/* #images-1{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 573px;
    height: 300px;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
#images-2{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 573px;
    height: 300px;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
} */
#images-1{
    width: 572px;
    height: 300px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
#images-2{
    width: 572px;
    height: 300px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.kashmir{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
}
.class-1{
    width: 374px;
    height: 286px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.class-2{
    width: 474px;
    height: 286px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.class-3{
    width: 274px;
    height: 286px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.bd-1{
    width: 473px;
    height: 300px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.bd-2{
    width: 673px;
    height: 300px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
/* image section styles */
.destination-img{
    margin: 50px 135px;
}

/* why-choose-container section styles */
.why-choose-container{
    display: flex;
    margin: 24px 135px;
    gap: 30px;
    justify-content: center;
}
.common-container{
    width: 573px;
    border-radius: 16px;
    padding: 30px;
}
.div-section-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

#hotel-container{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#service-container{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#div-container{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* optional section work */
.optional-section-img{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    background: url('Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
    margin: 50px 135px;
}
.section-for-work-1, .section-for-work-3{
    width: 579px;
    /* height: 389px; */
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
    margin: 50px 50px 50px 530px;
}
.section-for-work-2{
    width: 579px;
    /* height: 389px; */
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
    margin: 50px 530px 50px 50px;
}
.titme-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.time img {
    margin-right: 5px; 
}
.color-text{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section for place */
.place{
    display: flex;
}
.place-image{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 10.png') no-repeat;
    background-size: cover;
}
.background{
    width: 276px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 100px 167px;
}
.another-div{
    display: flex;
    justify-content: space-between;
}
.place-section-image{
    color: #FFF;
}
.hr-with-image {
    width: 10%;
    height: 2px; 
    /* border: none;  */
    background: url('Images/Group\ 7.png') repeat-x left; /* Set the image as background */
    border-radius: 8px;
    /* margin: 20px 0;  */
}
/* section for newsletter container */
.newsletter-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 135px;
}

.newsletter-img{
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background: url('Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.newsletter-border{
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    text-align: center;
    position: absolute;
}
.travel{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}
.save{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}
.newsletter-section{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}
.newsletter-section input[type="text"], .newsletter-section input[type="email"], .newsletter-section input[type="submit"]{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    display: block;
    width: 393px;
    height: 52px;
    margin-bottom: 20px;
    border: none;
}
.newsletter-section input[type="submit"]{
    background: #FF5400;
    color: #FFF;
}

/* optional section styles */
.optional-work{
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url('Images/download.jpeg') no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: 100px 135px;
}

/* footer section styles */
.footer-section{
    background: rgba(19, 19, 24, 0.05);
}
.footer-section .nav-section{
    justify-content: center;
}
.footer-description-section{
    display: flex;
    justify-content: center;
}
.footer-description{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.social-section-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.copy{
    display: flex;
    justify-content: center;
}


/* for mobile responsive */
@media screen and (max-width:600px){
    /* .nav-style{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .nav-section{
        grid-template-rows: repeat(1, 1fr);
    }
    .nav-section-title{
        display: inline-block;
    } */
}